.config/nvim/.netrwhist
.config/nvim/lazy-lock.json
.config/nvim/lazy-lock.json
.config/pulse
.config/gh/hosts.yml
.config/pavucontrol.ini
.config/dconf/
.config/Thunar/
.config/xfce4/
.config/user-dirs.dirs
.config/user-dirs.locale
.vim/plugged/
.vim/.netrwhist
.vim/autoload/plug.vim
__pycache__
