[user]
	email = 3808473+esplor@users.noreply.github.com
	name = Espen Lorentzen
[credential "https://github.com"]
	helper = !/usr/bin/env gh auth git-credential
[pull]
	ff = yes
[init]
	defaultbranch = main
[safe]
	directory = *
